# Nombre del contenedor
LXC_NAME=finger

# Contenedor base
LXC_BASE=debianForky

# MAC address
LXC_MAC=10:f0:f3:f7:ff:79

# IP estática
LXC_IP=10.0.3.7

# Puerto a exponer
LXC_PORT=79

# Comentario en cortafuegos
LXC_CMT=cfingerd

# Nombre de usuario
LXC_USER="oident"

# Id de usuario
LXC_UID="139"

# Id de grupo
LXC_GID="148"

# Directorio NFS
#LXC_DIR="/var/nfs/finger/"

# Directorio de servicio
#LXC_SRV_DIR="/srv/lxc/finger/"

# Directorio de configuración
#LXC_OPT_DIR="/opt/lxc/finger/"

