# Nombre del contenedor
LXC_NAME=gopher

# Contenedor base
LXC_BASE=debianForky

# IP estática
LXC_IP=10.0.3.6

# Puerto a exponer
LXC_PORT=79

# Comentario en cortafuegos
LXC_CMT=gophernicus

# Nombre de usuario
LXC_USER="_gophernicus"

# Id de usuario
LXC_UID="138"

# Id de grupo
LXC_GID="146"

# Directorio NFS
#LXC_DIR="/var/nfs/gopher/"

# Directorio de servicio
#LXC_SRV_DIR="/srv/lxc/gopher/"

# Directorio de configuración
#LXC_OPT_DIR="/opt/lxc/gopher/"

