# Nombre del contenedor
LXC_NAME=http

# Contenedor base
LXC_BASE=debianForky

# MAC address
LXC_MAC=10:f0:f3:f9:ff:80

# IP estática
LXC_IP=10.0.3.9

# Puerto a exponer
LXC_PORT=80

# Comentario en cortafuegos
LXC_CMT=apache2

# Nombre de usuario
LXC_USER="www-data"

# Id de usuario
LXC_UID="33"

# Id de grupo
LXC_GID="33"

# Directorio NFS
#LXC_DIR="/var/nfs/http/"

# Directorio de servicio
#LXC_SRV_DIR="/srv/lxc/http/"

# Directorio de configuración
#LXC_OPT_DIR="/opt/lxc/http/"

