# Nombre del contenedor
LXC_NAME=ident

# Contenedor base
LXC_BASE=debianForky

# MAC address
LXC_MAC=10:f0:f3:f8:f1:13

# IP estática
LXC_IP=10.0.3.8

# Puerto a exponer
LXC_PORT=113

# Comentario en cortafuegos
LXC_CMT=oidentd

# Nombre de usuario
LXC_USER="oident"

# Id de usuario
LXC_UID="117"

# Id de grupo
LXC_GID="130"

# Directorio NFS
#LXC_DIR="/var/nfs/ident/"

# Directorio de servicio
#LXC_SRV_DIR="/srv/lxc/ident/"

# Directorio de configuración
#LXC_OPT_DIR="/opt/lxc/ident/"

